:root {
    --navyBlue: #082032;
    --waterBlue: #003566;
    --offWhite: #F5F3FF;
    --violet: #701a75;
    --turquoise: #67e8f9;
    --gray: #9ca3af;
    --veryLightGray: #cbd5e1;
    --charcoalBlack: #202020;
    --lightBlack: #383838;
    --zinc: #3f3f46;
    

    --error: #fee2e2;
    --errorfont: #5A0000; 
    --warning: #fef3c7;
    --warningfont: #78350f;
    --info: #e0f2fe;
    --infofont: #0c4a6e;
    --success: #ecfccb;
    --successfont: #365314;
    --lightOrange: #fdba74;
    

    --onlineGreen: #365314;
    --offlineRed: #ef4444;
    --white: #ffffff;
    --text-color: #f5f5f5;
    --notification: #581c87;

    --cardShadow: #9ca3af;


    --lightShadeOfBlack: #303030;
    --darkBlack: #000;
    --lightWaterBlue: #194975;
    --lightShadeOfGrey: #e5e5e5;
    --ratingGreen: #16a34a;
    --ratingRed: #ef4444;
    --ratingYellow: #d97706;
    --graytext: #9ca3af;
    --listItemBG: #ffffff;

    --checkSuccess: #16a34a;
    --checkWarning: #d97706;
    --checkError:#ef4444;
}