@import url(../colorVariables.css);

.badge-container{
    position: relative;
    display: inline-block;
}

.badge{
    background-color: var(--onlineGreen);
    border-radius: 50%;
    border: 2px solid var(--white);
    position: absolute;
}

.badge-l{
    height: 1.4rem;
    width: 1.4rem;
    bottom: 3.5px;
    right: 20px;
}

.badge-m{
    height: 1rem;
    width: 1rem;
    bottom: 3.5px;
    right: 16px;
}

.badge-s{
    height: 0.8rem;
    width: 0.8rem;
    bottom: 3.5px;
    right: 5px;
}

.badge-notification{
    background-color: var(--notification);
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--text-color);
    border: none;
    border-radius: 1.5rem;
    padding: 0.15rem 0.35rem;
    top: -10px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-on{
    background-color: var(--onlineGreen);
}

.badge-off{
    background-color: var(--offlineRed);
}