@import url(../colorVariables.css);

@import url(../utils.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

h1{
  font-family: 'Poppins', sans-serif;
}
  
h2{
  font-family: 'Poppins', sans-serif;
}
  
h3 {
  font-family: 'Poppins', sans-serif;
}
  
h4 {
  font-family: 'Poppins', sans-serif;
}
  
h5 {
  font-family: 'Poppins', sans-serif;
}

h6{
  font-family: 'Poppins', sans-serif;
}
    
.text-small {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    text-justify: auto;
}

.text-x-small {
  font-size: 0.75rem;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  text-justify: auto;
}
  
.text-gray {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: var(--graytext);
  text-align: justify;
  text-justify: auto;
}
  
.text-center {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center
}
  