/* font - quicksand */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

/* font - poppins  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url(../css/colorVariables.css);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  background-color: var(--zinc);
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  height: 100vh;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
}

.sidebar-and-main-container {
  display: flex;
}

.docs-navbrand-container {
  background-color: var(--waterBlue);
  padding: 2rem 1rem 2rem 1.85rem;
}

.navbar-brand {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, var(--violet), var(--turquoise));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sidebar {
  font-family: "Poppins", sans-serif;
  background-color: var(--waterBlue);
  height: 100vh;
  min-width: 15rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sidebar ul {
  margin: 0rem;
  padding: 0rem 0rem 1rem 1rem;
  letter-spacing: 1.5px;
  list-style-type: none;
}

.sidebar-item {
  width: 100%;
  padding: 0.75rem 1rem;
  display: inline-block;
  color: var(--gray);
  font-size: 0.9rem;
}

.sidebar-title {
  color: var(--offWhite);
  margin: 0;
  padding: 0rem 1rem 1rem 1rem;
  font-weight: 500;
}

.sidebar-item:hover {
  color: var(--offWhite);
}

.link-active {
  color: white;
}

.main-and-footer-container {
  background-color: var(--offWhite);
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hamburger {
  user-select: none;
  border: none;
  padding: none;
  outline: none;
  background: none;
  cursor: pointer;
  appearance: none;
}

.hamburger span {
  display: block;
  background-color: var(--violet);
  width: 1.6rem;
  height: 0.25rem;
  border-radius: 0.3rem;
  margin-top: 0.3rem;

  transform-origin: 0 0;
  transition: 0.3s;
}

.hamburger.is-active span:nth-child(1) {
  transform: translateX(2.4px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(0.6px) rotate(-45deg);
}

.main-content {
  padding: 4rem;
  font-size: 1.1rem;
}

.component-container {
  border: 0.25px solid var(--gray);
  border-radius: 0.75rem;
  padding: 2rem 0.5rem;
  margin: 2rem 0rem 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

iframe {
  height: 100%;
}

.code-snippet {
  border: 0.25px solid var(--gray);
  border-radius: 0.75rem;
  padding: 2rem 0.5rem;
  margin: 2rem 0rem 3rem 0rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.margin-r-2rem {
  margin-right: 2rem;
}

.margin-r-4rem {
  margin-right: 4rem;
}

.footer {
  padding: 0.15rem 2rem 0.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-about {
  padding: 0rem 2rem;
  max-width: 460px;
  margin: 1rem 2rem;
}

.footer-about .copyright {
  margin-top: 1rem;
  color: var(--gray);
  font-weight: 500;
  font-size: 0.9rem;
}

.brand-line {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--veryLightGray);
}

.footer-about span {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, var(--violet), var(--turquoise));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

svg {
  color: var(--gray);
  width: 22px;
  height: 22px;
}

.social-icons {
  width: 12rem;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/**********************/

@media (max-width: 27rem) {
  .main-content {
    padding: 2rem;
    font-size: 1rem;
  }

  .code-snippet {
    width: 100%;
    display: block;
    height: fit-content;
    overflow-x: scroll;
  }
}

@media (max-width: 48rem) {
  .sidebar {
    position: fixed;
    z-index: 10;
    inset: 0 70% 0 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out;
  }

  .code-snippet {
    width: 100%;
    display: block;
    height: fit-content;
    overflow-x: scroll;
  }

  iframe {
    width: 100%;
  }

  .sidebar[data-visible="true"] {
    transform: translateX(0%);
  }
}

@media (min-width: 48.001rem) {
  .main-and-footer-container .navbar {
    display: none;
  }
}
